<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Меню на {{weekNumber}} неделю</title>
  </head>
  <body>
    <h1>Меню на {{weekNumber}} неделю ({{startWeek}} - {{endWeek}})</h1>
    <p>Добрый день, {{userName}},</p>
    <p>Необходимо заполнить меню на
      {{weekNumber}}
      неделю с
      {{startWeek}}
      по
      {{endWeek}}</p>
    <p>Для этого следует пройти по
      <a href='{{menuLink}}'>по этой ссылке</a>
      и проставить количество порций.</p>
    <p>Меню следует заполнить до 12:00 пятницы {{endDate}}</p>
    <p>Best Regards,</p>
    <p>Natalia Kozlovskaya</p>
    <p>Office Manager</p>
    <p>OOO "ID Scan"</p>
    <p>Phone: +7 (951) 257-76-03</p>
    <p>Email:
      <a href='nkozlovskaya@idscan.net'>nkozlovskaya@idscan.net</a>
  </body>
</html>